<div>
	<div>
		<form name='loginForm' ng-submit="login()" novalidate>
		<table>
			<tr>
				<th colspan=2>Login</th>
			</tr>
			<tr>
				<td>User Name:  </td>
				<td><input type="text" name="userName" ng-model="userName" ng-pattern="/^[A-Z,a-z]+$/" required class="text"/> 
					<span ng-show="loginForm.userName.$error.pattern">Not a valid Name!</span>
					<span ng-show="loginForm.userName.$error.required">This field is required!</span>
				</td>
			</tr>
			<tr>
				<td>Password:  </td>
				<td><input required type="password" name="userPass" ng-model="password" rpassword  /> 
					<span ng-show="loginForm.userPass.$error.rpassword">Not a valid Password!</span>
				</td>
			</tr>
			<tr>
				<td> <input type="submit" value="Submit" class="btn btn-primary" /></td>
				<td><input type="button" value="Reset" ng-click="reset()" class="btn btn-warning" /></td>
			</tr>
			<tr>
				<th colspan=2 align="center">* marked fields are mandatory 
					<uib-alert ng-repeat="alert in alerts" dismiss-on-timeout=500 class="alert alert-danger">{{alert.msg}}</uib-alert>	
				</th>
			</tr>
			</table>
		</form>
		
	</div>
</div>