<div>
	<div>
		<form name='loginForm' ng-submit="login()" novalidate>
		<table>
			<tr>
				<th colspan=2>Login</th>
			</tr>
			<tr>
				<td>User Name:(Your Email ID)  </td>
				<td><input type="text" name="userName" ng-model="userName" emailv class="text"/> 
					<span ng-show="loginForm.userName.$error.emailv">Not a valid Email ID!</span>
					
				</td>
			</tr>
			<tr>
				<td>Password:  </td>
				<td><input type="text" name="userPass" ng-model="password" rpassword  /> 
					<span ng-show="loginForm.userPass.$error.rpassword">Not a valid Password!</span>
				</td>
			</tr>
			<tr>
				<td> <input type="submit" value="Submit" class="btn btn-primary" /></td>
				<td><input type="button" value="Reset" ng-click="reset()" class="btn btn-warning" /></td>
			</tr>
			<tr>
				<th colspan=2 align="center">* marked fields are mandatory 
					<uib-alert ng-repeat="alert in alerts" close="closeAlert($index)" dismiss-on-timeout=2000 class="alert alert-danger">{{alert.msg}}</uib-alert>	
				</th>
			</tr>
			</table>
		</form>
		
	</div>
</div>