	
<div>
	<h1>Department Details</h1>
	<button class="btn btn-primary" ng-click="showAddDeptModalPopup()">Add Department</button>
	<button class="btn btn-primary" ng-click="viewDeptList()">View Department List</button>
	<table border=2 >
		<tr>
			<th colspan=3> Department List </th>
		</tr>
		<tr>
			<th> Department ID </th>
			<th> Department Name </th>
			<th> Location </th>
		</tr>
		<tr ng-repeat="x in deptList track by $index">
			<td>{{x.deptID}} </td>
			<td>{{x.deptName}} </td>
			<td>{{x.location}} </td>
			
		</tr>
		<tr ng-show="deptList.length == 0">
			<td colspan=3>{{deptMessage}}</td>
		</tr>
	</table>
	<a href="#home">Back To Home Page</a>
</div>
